.container {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-right: 110px;
    padding-left: 110px;
  }
}

