.advantages {
  padding-bottom: 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: $textcolor-dark;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &::before {
    content: "";

    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: $button-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }

  &--1::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--2::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--3::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--4::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantages__text {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 10px;
  }

  .advantages__title {
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    counter-reset: advantages_num;
  }

  .advantages__item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 325px;
    margin-top: 42px;
    margin-bottom: 40px;
    padding-bottom: 50px;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 32px;
    }

    &::after {
      content: counter(advantages_num);
      position: absolute;
      top: -37px;
      left: 113px;
      z-index: -1;

      font-size: 281px;
      line-height: 281px;
      color: $bg;

      counter-increment: advantages_num;
    }

    &--1::after {
      left: 118px;
    }
  }

  .advantages__text {
    width: 245px;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 0;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 0;
  }
}
