.before-after {
	background-color: $bg;
	padding: 30px 0;
}

.before-after__title {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.before-after__text {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	width: 95%;
	font-family: "Arial",sans-serif;
}

.before-after__wrapper {
	display: flex;
	justify-content: space-between;
}

.before-after__column {
	position: relative;
	padding: 15px 0;
	width: 123px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.before-after__stat {
	margin: 0 auto;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

.before-after__stat-sub {
	position: absolute;
	bottom: -10px;
	background-color: $bg;
	width: 80px;
	padding: 0 15px;
	text-align: center;
	font-family: "Arial",sans-serif;
	font-size: 12px;
	line-height: 12px;
}

.before-after__text-sub {
	font-size: 14px;
	line-height: 20px;
	color: $textcolor-dark;
	text-transform: uppercase;
	text-align: center;
}

.before-after__image {
	width: 100%;
	height: 240px;
	background-image: url("../img/before-mobile@1x.png");
	background-repeat: no-repeat;
	background-position: center;
}

.before-after__button-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	margin: 35px auto 0;
}

.before-after__button {
	padding: 0;
	font-family: inherit;
	color: $textcolor-dark;
	border: none;
	background-color: transparent;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
}

.before-after__toggle {
	width: 84px;
	height: 6px;
	border: 1px solid #cdcdcd;
	border-radius: 15px;
	background-color: #ffffff;
	padding: 3px 5px;
	&::before {
		content: "";
		display: block;
		width: 35px;
		height: 6px;
		background-color: $button-bg;
		border-radius: 10px;
	}
}

