.before-after {
  padding: 30px 0;

  background-color: $bg;
}

.before-after__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.before-after__text {
  width: 95%;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-family: "Arial",sans-serif;
}

.before-after__wrapper {
  display: flex;
  justify-content: space-between;
}

.before-after__column {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 123px;
  padding: 15px 0;

  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.before-after__stat {
  margin: 0 auto;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.before-after__stat-sub {
  position: absolute;
  bottom: -10px;

  width: 80px;
  padding: 0 15px;

  font-size: 12px;
  line-height: 12px;
  font-family: "Arial",sans-serif;
  text-align: center;

  background-color: $bg;
}

.before-after__text-sub {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $textcolor-dark;
  text-transform: uppercase;
}

.before-after__image {
  width: 100%;
  height: 240px;

  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.before-after__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 35px auto 0;
}

.before-after__button {
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: $textcolor-dark;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.before-after__toggle {
  width: 84px;
  height: 6px;
  padding: 3px 5px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 15px;

  &::before {
    content: "";

    display: block;
    width: 35px;
    height: 6px;

    background-color: $button-bg;
    border-radius: 10px;
  }
}
