.catalog__title {
  margin: 0;
  padding: 25px 20px 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $textcolor-dark;

  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-bottom: 25px;

  border-bottom: 1px solid $border-light;
}

.catalog__description {
  flex-grow: 1;

  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

.catalog__item-title {
  width: 55%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $textcolor-dark;
  text-transform: uppercase;
}

.catalog__table {
  width: 100%;

  border-spacing: 0;
}

.catalog__field {
  padding: 0;

  text-align: left;
}

.catalog__value {
  padding: 0;

  text-align: right;
}

.catalog__link {
  width: 100%;
  margin-top: 20px;

  &--grey {
    width: 100%;

    color: $textcolor;

    background-color: $bg;

    &:hover,
    &:focus {
      background-color: $border-light;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

.catalog__item--plus {
  flex-direction: column;
  padding: 25px 20px;

  text-align: center;

  .catalog__image {
    opacity: 0.2;
  }

  .catalog__item-title {
    width: auto;
  }
}

.catalog__item-text {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-right: 30px;
    padding-left: 30px;
  }

  .catalog__title {
    padding: 0;

    border: none;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-right: 110px;
    padding-left: 110px;
  }

  .catalog__item {
    flex-basis: 25%;
  }
}
