.categories {
  padding-top: 25px;
  padding-bottom: 25px;
}

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  position: relative;

  margin-bottom: 25px;
  padding: 20px;

  background-color: $bg;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 22px;

    display: block;
    width: 50px;
    height: 50px;

    background-color: $button-bg;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;

    display: block;

    background-repeat: no-repeat;
  }

  &--slim {
    &::after {
      top: 19px;
      left: 30px;

      width: 38px;
      height: 50px;

      background-image: url("../img/icon-cat-slim.svg");
    }
  }

  &--pro {
    &::after {
      top: 33px;
      left: 13px;

      width: 67px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__title {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 70px;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $textcolor-dark;
  text-transform: uppercase;
}

.categories__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;

  font-family: "Arial", sans-serif;

  border-bottom: 1px solid $border-color;
}

.categories__link {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 16px;
  color: $textcolor-dark;
  text-transform: uppercase;

  &::after {
    content: "";

    display: inline-block;
    width: 24px;
    height: 11px;
    margin-left: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    width: 33px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .categories__item {
    margin-bottom: 35px;
    padding: 66px 280px 60px 53px;

    &::before {
      top: 90px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 77px;
      right: 92px;
      left: auto;

      width: 140px;
      height: 194px;
    }

    &--pro {
      margin-bottom: 0;
      padding-right: 315px;

      &::after {
        top: 132px;
        right: 28px;
        left: auto;

        width: 268px;
        height: 112px;
      }
    }
  }

  .categories__title {
    margin-bottom: 25px;
    margin-left: 0;

    font-size: 36px;
    line-height: 37px;
  }

  .categories__text {
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 23px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    flex-basis: 38%;
    margin-bottom: 40px;
    padding: 52px;
    padding-right: 55px;
    padding-bottom: 63px;

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--pro::after {
      top: 68px;
      right: auto;
      left: 34px;

      width: 134px;
      height: 56px;
    }

    &--slim::after {
      top: 40px;
      right: auto;
      left: 66px;

      width: 70px;
      height: 97px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .categories__title {
    margin-top: 23px;
    margin-bottom: 74px;
    margin-left: 163px;
  }

  .categories__text {
    margin-bottom: 10px;
  }
}
