.categories {
  padding-top: 25px;
  padding-bottom: 25px;
}

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__icon {
  content: "";
  position: absolute;
  z-index: 1;
}

.categories__item {
  position: relative;

  margin-bottom: 25px;
  padding: 20px;

  background-color: $bg;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 22px;

    display: block;
    width: 50px;
    height: 50px;

    background-color: $button-bg;
    border-radius: 50%;
  }

  &--slim {
    .categories__icon {
      top: 19px;
      left: 30px;

      width: 38px;
      height: 50px;
    }
  }

  &--pro {
    .categories__icon {
      top: 33px;
      left: 13px;

      width: 67px;
      height: 28px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__title {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 70px;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $textcolor-dark;
  text-transform: uppercase;
}

.categories__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;

  font-family: "Arial", sans-serif;

  border-bottom: 1px solid $border-color;
}

.categories__link {
  position: relative;

  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    .categories__arrow {
      transform: translateX(0);
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.categories__link-text {
  z-index: 1;

  margin: 0;
  padding-right: 10px;

  font-size: 16px;
  line-height: 16px;
  color: $textcolor-dark;
  text-transform: uppercase;

  background-color: $bg;
}

.categories__arrow {
  width: 29px;

  transform: translateX(-5px);
}

@media (min-width: $tablet-width) {
  .categories {
    padding-top: 0;
    padding-bottom: 48px;
  }

  .categories__item {
    margin-bottom: 35px;
    padding: 66px 280px 60px 53px;

    &::before {
      top: 90px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    &--slim {
      .categories__icon {
        top: 77px;
        right: 92px;
        left: auto;

        width: 140px;
        height: 194px;
      }
    }

    &--pro {
      margin-bottom: 0;
      padding-right: 315px;

      .categories__icon {
        top: 132px;
        right: 28px;
        left: auto;

        width: 268px;
        height: 112px;
      }
    }
  }

  .categories__title {
    margin-bottom: 25px;
    margin-left: 0;

    font-size: 36px;
    line-height: 37px;
  }

  .categories__text {
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .categories__link-text {
    padding-right: 22px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    flex-basis: 38%;
    margin-bottom: 40px;
    padding: 52px;
    padding-right: 55px;
    padding-bottom: 63px;

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--pro {
      .categories__icon {
        top: 68px;
        right: auto;
        left: 34px;

        width: 134px;
        height: 56px;
      }
    }

    &--slim {
      .categories__icon {
        top: 40px;
        right: auto;
        left: 66px;

        width: 70px;
        height: 97px;
      }
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .categories__title {
    margin-top: 23px;
    margin-bottom: 74px;
    margin-left: 163px;
  }

  .categories__text {
    margin-bottom: 10px;
  }

  .categories__link-text {
    padding-right: 24px;
  }
}
