.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__title {
  width: 45%;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $textcolor-dark;
  text-transform: uppercase;
}

.contacts__adress-wrapper {
  width: 50%;

  line-height: 20px;
  font-family: "Arial", sans-serif;
}

.contacts__adress {
  margin: 0;
  padding: 0;
}

.contacts__city {
  margin: 0;
  padding: 0;
}

.contacts__map-wrapper {
  width: 100%;
  height: 360px;
  background-image:
    url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    center 137px,
    center -40px;
  background-size:
    62px 53px,
    cover;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    width: 170px;
    font-size: 20px;
    line-height: 25px;
    margin: 3px 0;
  }

  .contacts__wrapper {
    padding: 60px 71px;
  }

  .contacts__adress-wrapper {
    font-size: 16px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  .contacts__map-wrapper {
    height: 395px;
    background-image:
      url("../img/map-pin.png"),
      url("../img/bg-map-tablet@1x.png");
    background-size:
      124px,
      cover;
    background-position:
      center,
      center -5px;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image:
        url("../img/map-pin.png"),
        url("../img/bg-map-tablet@2x.png");
    }
  }
}
@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 97px;
    left: 110px;
    width: 570px;
    background-color: #ffffff;
    padding: 60px 75px;
    box-sizing: border-box;
  }

  .contacts__adress-wrapper {
    text-align: left;
  }
}
