.first-screen {
  padding-top: 25px;

  text-align: center;
  color: #ffffff;

  background-color: $img-color;
  background-image: linear-gradient(to top, #ffffff 173px, transparent 173px),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%, 320px 305px;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: linear-gradient(to top, #ffffff 173px, transparent 173px),
      url("../img/index-background-mobile@2x.jpg");
  }
}

.first-screen__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.first-screen__slogan {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  line-height: 14px;
  text-transform: uppercase;
}

.first-screen__image {
  margin-bottom: -135px;
}

.first-screen__button {
  margin-top: 135px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .first-screen {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 31px;

    text-align: left;

    background-color: #ffffff;
    background-image: none;
  }

  .first-screen__title {
    width: 430px;
    margin-bottom: 42px;
    margin-left: 88px;

    font-size: 60px;
    line-height: 60px;
    color: $textcolor-dark;
  }

  .first-screen__slogan {
    margin-bottom: 20px;
    margin-left: 88px;

    font-size: 20px;
    line-height: 20px;
    color: $textcolor-dark;
  }

  .first-screen__image-wrapper {
    margin: 0 auto;
  }

  .first-screen__image {
    margin-bottom: 0;
  }

  .first-screen__button {
    position: absolute;
    top: 260px;
    left: 120px;

    margin-top: 0;
    padding: 16px 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .first-screen {
    min-height: 525px;
    padding-top: 55px;

    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: -167px;
      right: 0;
      bottom: 0;
      z-index: -1;

      display: block;
      width: 50%;
      height: 696px;

      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 720px 696px;

      @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .first-screen__title {
    margin-left: 80px;
  }

  .first-screen__slogan {
    margin-bottom: 0;
    margin-left: 80px;
  }

  .first-screen__image {
    position: absolute;
    top: -25px;
    left: 490px;
    z-index: 1;
  }

  .first-screen__button {
    top: 288px;
    left: 120px;
  }
}
