.selection {
  border-top: 1px solid $menu-border;
}

.selection__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 0 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $textcolor-dark;
}


.selection__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;

  color: $textcolor-dark;
  text-transform: uppercase;
}

.selection__fieldset {
  margin: 0;
  padding: 0 20px;

  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;

  border: none;

  &--border {
    padding: 15px 20px;

    border-top: 1px solid $border-light;
    border-bottom: 1px solid $border-light;
  }
}


.selection__block {
  display: flex;
  align-items: baseline;
}

.selection__label {
  flex-shrink: 0;
  margin-right: 15px;
}

.selection__radio-label {
  display: flex;
  align-items: center;
  margin: 6px 0;

  &::before {
    content: "";

    display: block;
    width: 12px;
    height: 12px;
    margin-right: 15px;

    border: 9px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd;
  }

  &:hover::before {
    box-shadow: 0 0 0 1px #bababa;
  }
}

.selection__checkbox-label {
  display: flex;
  align-items: center;
  margin: 6px 0;

  &::before {
    content: "";

    display: block;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    border: 1px solid #cecece;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }
}

.selection__text-field {
  flex-grow: 1;
  margin-bottom: 15px;
  padding: 15px;

  font: inherit;
  text-transform: uppercase;

  border: 1px solid $menu-border;
}

.selection__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.selection__radio {
  display: none;

  &:checked + .selection__radio-label::before {
    background-color: $button-bg;
  }
}

.selection__checkbox {
  display: none;

  &:checked + .selection__checkbox-label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 16px;
  }
}

.selection__fieldset-title {
  margin: 30px 0;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.selection__wrapper {
  display: flex;
  align-items: center;

  &::after {
    content: "";

    flex-grow: 1;
    width: 10px;
    height: 3px;
    margin-left: 25px;

    background-color: $button-bg;
  }
}

.selection__button-wrapper {
  padding: 0 20px;

  text-align: center;
}

.selection__button {
  width: 100%;
  margin-top: 35px;
}

.selection__sub {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.selection__comment {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  border: 1px solid $menu-border;

  resize: none;
}
