.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  &--index {
    .logo__link {
      pointer-events: none;
    }
  }
}

.logo__link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__toggle-icon {
  margin: 0 auto;

  &--close {
    display: none;
  }
}

.logo__toggle {
  width: 24px;
  height: 18px;
  padding: 0;

  background-color: #ffffff;
  border: none;

  &--open {
    .logo__toggle-icon {
      &--open {
        display: none;
      }

      &--close {
        display: block;
      }
    }
  }
}

.logo__image {
  &--tablet,
  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    &--tablet {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }

  .logo__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    &--desktop {
      display: block;
    }

    &--tablet {
      display: none;
    }
  }
}
