.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
}

.logo__toggle {
  width: 24px;
  height: 18px;
  padding: 0;

  background-color: #ffffff;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

