.main-nav--no-js {
  .main-nav__button {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .main-nav__logo {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}
