.main-nav--no-js {
  .main-nav__button {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    padding-right: 12px;
  }

  .main-nav__logo {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding: 54px 110px;
    padding-right: 90px;
  }
}
