.site-list {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  &--open {
    display: flex;
  }
}

.site-list__item {
  padding: 0 20px;

  text-align: center;

  border-top: 1px solid $menu-border;
}


.site-list__link {
  display: inline-block;
  width: 100%;
  padding: 23px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  color: $textcolor-dark;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    pointer-events: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .site-list__item {
    margin: 0 18px;
    padding: 0;

    border: none;
  }

  .site-list__link {
    padding-top: 8px;
    padding-bottom: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    &--active {
      border-bottom: 2px solid $button-bg;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    &--index {
      .site-list__link {
        color: #ffffff;

        &--active {
          border-bottom: 2px solid #ffffff;
        }
      }
    }
  }

  .site-list__link {
    font-size: 20px;
    line-height: 25px;
  }
}
