.copyright {
  text-align: center;
}

.copyright__image {
  fill: $footer-color;
}

.copyright__name {
  margin-right: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $textcolor;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  &:hover > .copyright__image,
  &:focus > .copyright__image {
    fill: $button-bg;
  }

  &:active {
    opacity: 0.3;
  }
}
