.footer-logo {
  text-align: center;
}

.footer-logo__image {
    padding-top: 20px;
    padding-bottom: 10px;
  }

.footer-logo__link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .footer-logo {
    text-align: left;
  }
}
