.social__list {
	padding: 0;
	padding: 20px;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

.social__icon {
	fill: $footer-color;
}

.social__link {
	display: block;
	width: 58px;
	text-align: center;
	
	&:hover > .social__icon,
	&:focus > .social__icon {
		fill: $button-bg;
	}
}
