.social {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;

  list-style: none;
}

.social__icon {
  fill: $footer-color;
}

.social__link {
  display: block;
  width: 54px;

  text-align: center;

  &:hover > .social__icon,
  &:focus > .social__icon {
    fill: $button-bg;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
  }

  .social__list {
    padding: 0;
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px
    }

    &--in {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
      margin-left: -12px;
    }
  }
}
